name: Tests

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
    unit:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v1
        - uses: actions/setup-node@v1
          with:
            node-version: "14.x"
        - name: Install dependencies
          run: npm ci
        - name: Look at typechain
          run: ls && cd typechain && ls
        - name: compile
          run: npm run build
        - name: test
          run: npm run test



